[2020-10-27 18:55] jasonplatts opened #1 "Add excluded files."
Add the ability in a preferences window and/or in the context menu in the TODO sidebar to exclude files.

[2020-10-27 20:51] jasonplatts opened #2 "Check that TODO and FIXME tags are within comment."
Check that a TODO and FIXME tag is within a comment before including in the tree.

[2020-10-27 20:52] jasonplatts opened #3 "Preserve collapse states of tree items."

[2020-11-05 22:27] #1 closed

[2020-11-06 12:09] igor-arkhipov opened #4 "Add several useful tags"
Could you add some useful tags for processing?

[INFO]
[NOTE]
[HACK]
[BUG]
[DEBUG]
[ERROR]

[WARN]
[WARNING]
[ERR]
[FAIL]
[FATAL]
[TRACE]

I usually use them with PragmataPro Liga font.
![PragmataPro Liga TODO ligatures](https://fsd.it/wp-content/uploads/PragmataPro-new-TODO-w.png)

[2020-11-06 15:11] jasonplatts commented on #4
Thanks @igor-arkhipov. Great suggestions. I plan to add tag highlighting in the future. It is not currently possible with the given API, but Panic is expanding its capabilities.

[2020-11-07 12:33] patrickvuarnoz opened #5 "Indicate that there are todos"
It would be great if the TODO icon in the sidebar would also indicate that there are todos at all. Like that you'd have an active reminder that there are tasks to take care of. This could be similar to what the validation icon does (see screenshot, purple dot next to the warning triangle).

![image](https://user-images.githubusercontent.com/13888122/98441241-57fdd600-20fd-11eb-9365-454a685d6c7b.pn

[2020-11-09 17:11] jasonplatts commented on #5
Hi @patrickvuarnoz. Thanks for the great suggestion. This has come up in the extension developer forum and, unfortunately, Panic has yet to expose this functionality in their extension API. I will absolutely keep tabs on this issue and work to add the functionality when it is possible.

[2020-11-10 13:53] Tekl opened #6 "Error: No command found with the name “todo.refresh”."
I added the TODO panel to my left sidebar and pressed the refresh arrow. It shows me this message:

<img width="481" alt="CleanShot_145249@2x" src="https://user-images.githubusercontent.com/3667947/98682646-7285b880-2364-11eb-9c46-70e689358984.png">

I already reinstalled the extension.

[2020-11-10 14:05] jasonplatts commented on #6
Hi @Tekl. Thank you for reporting this issue. I know you said you reinstalled the extension so you most likely have the latest, but could you confirm for me the version you are using? Also, are any todo items being listed in the sidebar?

[2020-11-10 14:54] Tekl commented on #6
It's Version 0.3. There's no item listed at the moment.

That's how I tried to use the extension:
- I openend a markdown file from Finder (I don't use projects)
- I added the string [TODO] to a headline
- I klicked on the refresh button

The debug console shows this:
[code]

[2020-11-10 16:15] jasonplatts commented on #6
I appreciate the extra information @Tekl. The problem is that the extension currently assumes that the user is working in a project and searches the directory structure rather than the open documents.

Panic will be releasing Nova 3.0 soon, which I believe will allow the extension to better handle file processing. When that is released, I expect to revise and restructure much of the existing code

[2020-11-10 22:27] ianbradbury-bizzibody opened #7 "Unable to configure for Rails project"
I have a Rails project (v6 + Webacker)

I'm continually prompted that there are too many workspace files.  I have attempted to "ignore" as many folder as possible yet I can not reduce the number fo files enough that this message goes away.

I now believe that I am formatting the list of ignore folders incorrectly, and/or, even in the wrong preference field.

eg: Ignored File and Directory paths
/U

[2020-11-11 04:35] kbanse opened #8 "How do I remove Ignored Files and Directory Paths from Project Settings"
I mistakenly added a path from a directory outside of the workspace. Then after clicking "Ignore Above Path" and adding it to the list, I realized the mistake and tried to delete it. If I remove it the list in the Ignored Paths textarea, it just repopulates the next time I try to add a different path. Nothings gets deleted. Only added to.

[2020-11-11 14:38] jasonplatts commented on #8
Hi @kbanse. Thanks for letting me know. I believe this might be a bug with with Nova not properly saving when the UI element loses focus. I will report this to Panic and see if they can shed any light on the problem, but I sense this will have to be patched in Nova itself.

In the meantime, when you make a change to a text box try clicking into another text box before leaving the preferences. I am

[2020-11-11 15:13] jasonplatts commented on #7
Hi @ianbradbury-bizzibody. Thanks for reporting this problem.

From the information you provided, it appears you are doing things correctly. The paths look good. Adding a name in the "Ignore File and Directory Names" text box should ignore any file or directory with that name, regardless of its path. For example, you may have a tmp directory in multiple locations within a project. File extensions

[2020-11-13 04:29] jasonplatts commented on #8
A quick update. Panic confirmed that this is a bug in Nova and is something they will work on patching in the next release.

[2020-11-13 20:51] ianbradbury-bizzibody commented on #7
Thanks @jasonplatts - I'll keep my checking for v3.  Hopefully it's not too far away.  Keep up the good work.

[2020-11-13 20:51] #7 closed

[2020-11-19 19:19] BenjaminHoegh commented on #4
Some more tags
NOTE, INFO, IDEA, DEBUG, REMOVE, OPTIMIZE, REVIEW, HACK, TODO, REFACTOR, DEPRECATED, TASK, UPDATE, QUESTION, EXAMPLE, BUG, ERROR, ERR, WARNING, WARN and BROKEN

What do you mean? you already added TODO and FIXME

[2020-11-19 19:33] jasonplatts commented on #4
Thank you @BenjaminHoegh. I am hoping to have this and other updates soon! At the moment I am focused on improving performance in larger workspaces.

Sorry about the confusion. I was referring to the ability to "highlight" or change the background color of the various tags in the code itself. This is what is not currently possible using the Nova API. Additional tags are absolutely possible and wil

[2020-11-26 11:31] Babelfisch opened #9 "Too Many Workspace Files"
Whenever saving a file the extension brings up this message:

I globaly ignore all extension with the exception of .php files but the TODO sidebar is empty (No profiles have been created.)

What can I do?

[2020-11-30 19:35] jasonplatts commented on #9
Hi @Babelfisch. Thanks for sharing the issue you are having with the TODO extension. This problem error occurs when there are more than 300 files being processed, which, unfortunately, is currently necessary to prevent the extension from becoming unresponsive. I am working on a different solution that should eliminate these frustrations and hope to be able to release the update soon.

In the meant

[2020-12-02 02:10] jasonplatts commented on #9
Hi again @Babelfisch. I pushed an update to the extension (v0.4) a few moments ago that should address this problem. Please let me know if you still have problems using the extension in your workspaces. Thanks!

[2020-12-02 15:43] Babelfisch commented on #9
Seems to be working. Thanks!

[2020-12-02 15:43] #9 closed

[2020-12-03 00:52] jasonplatts commented on #6
Hi again @Tekl. This issue should now be resolved as of version 0.5. Please let me know if you have any additional issues with the extension. Thanks again!

[2020-12-03 00:52] #6 closed

[2020-12-03 00:54] jasonplatts commented on #4
Hi all. I have added the ability to include additional tags in the preferences as of version 0.5. Please let me know if there are any issues with this implementation. Thanks again for the suggestions!

[2020-12-03 00:54] #4 closed

[2020-12-03 09:03] Babelfisch opened #10 "Nova crashes creating a new project"
If I choose File / New project / With new folder, Nova reports a crash because the TODO extension. If I deactivate TODO it works.

<img width="301" alt="Bildschirmfoto 2020-12-03 um 09 56 35" src="https://user-images.githubusercontent.com/1218405/100987203-829d4c00-354e-11eb-89d6-177b24a73ec3.png">

[2020-12-03 14:58] jasonplatts commented on #10
Thanks for the bug report @Babelfisch. What version of the extension are you using? I believe this error should be fixed as of v0.5.

[2020-12-04 19:19] #10 closed

[2020-12-09 23:03] jasonplatts commented on #3
Unless this becomes a requested feature, I will not work to include this functionality.

[2020-12-09 23:03] #3 closed

[2020-12-09 23:04] jasonplatts commented on #2
Unless this becomes a requested enhancement, I will not spend time on this issue.

[2020-12-09 23:04] #2 closed

[2020-12-10 07:24] EkoOne opened #11 "Add "NOTE" Tag"
Can you add support for the "NOTE" tag?

[2020-12-10 12:04] jasonplatts commented on #11
Hi @EkoOne. The note tag is supported and can be enabled in the extension preferences for the workspace.

[2020-12-10 19:51] heathflohre opened #12 "How do you add a TODO"
What code should be written in HTML or CSS to highlight the TODO in the sidebar?

[2020-12-10 20:04] heathflohre commented on #12
It would be great if it highlighted the line.

[2020-12-10 20:06] jasonplatts commented on #12
Hi @heathflohre. The extension will detect tags, when they are capitalized and ending with a colon. Alternatively, you can enclose the capitalized tag in square brackets.

Eg: "TODO:" or [TODO].

[2020-12-10 20:09] jasonplatts commented on #12
If you double click on the tag item in the sidebar, it will open the related file and scroll to its position. In a future update, it will set the cursor position and highlight the line. This is not currently possible with the API Nova makes available.

Thanks for the suggestions. Hope this helps.

[2020-12-10 20:12] #11 closed

[2021-01-19 12:07] cyber1111 opened #14 "TODO crashing on double click"
Hi there,

Using Nova 4.1 on macOS 11.1.

When double-clicking a TODO, it crashes the extension.

![Screenshot 2021-01-19 at 12 05 21](https://user-images.githubusercontent.com/63204434/105032531-2be4c680-5a57-11eb-9edb-cd1444e58b2c.gif)

Thanks for your time!

[2021-01-19 15:01] jasonplatts commented on #14
Thanks @cyber1111 for reporting this error. I have released an update that should fix the problem. If you have any more issues, please let me know.

[2021-01-19 15:01] #14 closed

[2021-01-20 06:24] heartfelttech opened #15 "I'm having trouble excluding some directories."
Hi, I'd like to exclude some directories and I'm wondering if I'm going about it the right way?
Here's a screenshot of what I've set. I'm not sure if I should be starting/finishing directory names with a '/' or putting the complete path from the workspace root or what?

If you have answers for me I'd appreciate an example in the documentation to help others.

Thanks for a very helpful plugin!

<im

[2021-01-20 15:28] jasonplatts commented on #15
Hi @heartfelttech,

It appears you are entering global ignored file & directory names correctly. Directory names should not be started or ended with a '/'.

I have included a screenshot below and have also updated the extension documentation to help clarify. I hope this helps. If you need any further clarification, please let me know.
![extension-preferences-ignores](https://user-images.githubuser

[2021-01-20 22:24] polykode-dev opened #16 "Support for Remote Files"
Hello,

I installed todo extension, restart nova, and add sample tag in my code, but nothing is showing

Where i'am wrong ?

![Capture d’écran 2021-01-20 à 23 23 29](https://user-images.githubusercontent.com/77756816/105248443-b243fa00-5b76-11eb-9d10-2527a8ddb319.png)

Regards

[2021-01-21 01:55] jasonplatts commented on #16
Hi @polykode-dev.

It appears you are working on a remote project.

Unfortunately, TODO only supports local projects. If you are able to copy the project to your computer, the tags should be found. Sorry for this limitation.

[2021-01-21 07:55] polykode-dev commented on #16
Ha ok yes it work well localy, thanks

[2021-01-21 15:15] jasonplatts commented on #15
I'm closing this issue, as I believe the documentation now provides additional clarification. If there is anything else, feel free to open a new issue or discussion.

[2021-01-21 15:15] #15 closed

[2021-01-21 15:18] jasonplatts commented on #8
I understand this is still an issue in Nova 1.4. I will update Panic and continue to hope this can be addressed in a future release.

[2021-01-21 23:04] heartfelttech commented on #15
Thanks, the doc changes are all the fix needed and my environment is now set up just how I wanted it :)

[2021-01-24 13:22] cyberrrr commented on #14
Thanks @jasonplatts
Also just to let you know, I think you may've misspelled 4.1 in the release notes.
Cheers!

<img width="812" alt="Screenshot 2021-01-24 at 1 22 01@2x" src="https://user-images.githubusercontent.com/63204434/105631607-8ca54200-5e4f-11eb-97cd-a4c90625cb45.png">

[2021-01-25 00:17] jasonplatts commented on #14
Great catch @cyberrrr. I get that one in the next update. Thanks!

[2021-02-02 00:31] rootscript commented on #16
Hello - Is this a limit of extensions within Nova, when working on remote files?

[2021-02-02 01:17] jasonplatts commented on #16
Hi @rootscript. In the case of the TODO extension, it actually runs the OS egrep command in a process. I am not aware of any Nova API functionality that provides these capabilities in local and remote workspaces, nor of a way to run the egrep command without the files being located locally. I hope that helps answer your question.

Curiously, are you asking because you have the need for this extens

[2021-02-04 22:23] dashcg commented on #16
Our teams only work on remote files, a dev version of every project is set up alongside the production version. Coda2 has a todo plugin that is able to work with the remote file that is currently open, not the entire project directory. It would be nice to have your todo sidebar work on the file currently open.

[2021-02-06 17:46] jasonplatts commented on #16
Thanks @dashcg for sharing your use case. I can understand how this would be helpful. Since there does seem to be some interest, I will reopen this issue and give some more thought about how best this functionality might be implemented.

[2021-02-12 09:25] HazleMike commented on #12
Hi, this code not work for CSS in Nova 4.3?
/* TODO: hhjjhjh */

[2021-02-12 09:33] HazleMike commented on #12
Ah sorry. Now I've read that the extension can only work with local files. That's why it didn't work. It would be very nice if the extension worked remotely too!

[2021-02-12 22:00] jasonplatts commented on #12
No problem @HazleMike. Thanks for letting me know this feature would be helpful.

[2021-02-21 01:49] SdeGeata opened #17 "How do I use this?"
Hello!

I just installed your extension in Nova, but can't figure out how to actually use the tags. Does it work for YAML files too? It can't seem to find any tags at all.

[2021-02-22 15:11] jasonplatts commented on #17
Hi @SdeGeata. Tags should end with a colon or be surrounded by square brackets. For example, "TODO: Add a todo message here" or "[TODO] Add a different message here". The extension does support YAML files.

Are you working on a local project or is it remote? The extension currently only supports files that are located on your computer.

I hope this helps. If you are still having problems, please l

[2021-02-22 17:45] SdeGeata commented on #17
Hello Jason;

   That indeed answers my questions. I was indeed working on remote files. I’ll give it a try locally.

Thanks!

[2021-02-22 17:45] #17 closed

[2021-02-25 10:05] Indexhibit opened #18 "One screenshot"
One screenshot, at least, showing how this actually works, would be nice.

[2021-02-25 10:18] Vaska commented on #18
Also very dumb of me that I was logged in on the wrong account. ;)

[2021-02-27 19:07] jasonplatts commented on #18
Hi @Vaska. Thank you for your suggestion. I will keep this in mind when I publish the next update. Is there anything in particular you find needs explanation?

[2021-02-28 00:43] Vaska commented on #18
Perhaps, I'm being daft, but for the life of me I can't figure out how to use your extension. Is there a context-menu interface, is there something in the pull-down menus, are their special tags, I don't know. I've tried adding a TODO in code comments - but nothing works. I'd love to use this...

[2021-02-28 14:28] danpalmer opened #19 "Topic tag support"
A pattern that we use in code on my team, and that I find very useful, is to "tag" TODOs/FIXMEs/etc with a topic. In particular this can be useful during development of a feature on a large codebase where there may be many TODOs, but you want to be able to add some and then find them again more easily as you finish up the feature. They can also be used to tag those responsible for fixing them.

Th

[2021-03-01 15:46] jasonplatts commented on #19
Thanks for explaining Dan. I can see how this would be useful. I will try to get this functionality into an update in the near future.

[2021-03-01 19:12] jasonplatts commented on #18
I don't think you're being daft at all. The extension is available as a Nova sidebar, which I didn't find intuitive initially.

The animated gif below shows how the TODO sidebar can be accessed and added to the toolbar.
![Nova TODO Add Sidebar](https://user-images.githubusercontent.com/48892071/109545653-1e2f5180-7a97-11eb-8d6f-9c2325c560ac.gif)

Keep in mind the extension will not work if you are

[2021-03-02 05:21] Vaska commented on #18
I knew how to find that part already - it simply will not display my TODO's, etc. I see a .nova folder in your files - is that something that should be there?

[2021-03-02 14:28] jasonplatts commented on #18
Hmm…

No, it is not necessary to have the .nova directory in the project in order to detect "TODO" and "FIXME" tags.

Could you provide some information about your workspace?
1. What type of files contain the tags? php, js, etc.
2. Are you working on a project that is saved locally on your computer?
3. Can you give me an example of how you are formatting your tags within your code? If you could in

[2021-03-02 16:35] Vaska commented on #18
1. php
2. Yes
3. # TODO this and that

I haven't changed any configuration settings. So far I've simply added some TODO's, saved the file and checked if it works. I'm not sure what more I can do. It just doesn't want to work on my setup...

[2021-03-02 16:41] jasonplatts commented on #18
Try formatting your tags by ending them with a colon, or surrounding them in square brackets. For example:

# TODO: This and that.
or
# [TODO] This and that.

I think that should do the trick!

[2021-03-02 17:52] Vaska commented on #18
I had already tried TODO:
Bracket also do not work.

[2021-03-02 19:19] jasonplatts commented on #18
That's interesting. Sorry to hear the extension still isn't working for you. If you have the time, there are a couple of other troubleshooting steps we could try…

1. What versions of Nova and the TODO extension are you using?
2. If you open the extensions console ("Extensions" menu, then "Show Extensions Console"), do you see any errors?
3. If possible, could you provide a screenshot of a sample

[2021-03-02 22:38] frenx commented on #16
The feature to index just the currently open remote files would be great,
we also work almost exclusively with remote servers. Thanks!

[2021-03-03 19:21] jasonplatts commented on #16
Thanks @frenx for letting me know. I am hoping to get this functionality into the next update.

[2021-03-17 16:07] SuEric opened #20 "Filtering support"
A feature I found very useful (if not as MVP) is to have filtering support.

It is very difficult to keep track of the TODOs / FIXME / NOTE, and so on.. if you don't have filtering capabilities.

Any thoughts? 😄

[2021-03-17 16:08] SuEric commented on #19
@danpalmer , @jasonplatts ,

Jus wondering...

Wouldn't this more like being able to change the settings of the extension? That way you can add any "keywords" to be taken as TODOs?

[2021-03-17 16:11] SuEric opened #21 "TODO is detecting files from my installed libraries"
I think this is a bug

<img width="699" alt="CleanShot 2021-03-17 at 10 09 50@2x" src="https://user-images.githubusercontent.com/3435477/111499986-1f07ea80-8709-11eb-8c6e-140183c8b463.png">

Probably this is not added by default on the list: (and I think it should)
<img width="643" alt="CleanShot 2021-03-17 at 10 15 29@2x" src="https://user-images.githubusercontent.com/3435477/111500557-bd944b80-8

[2021-03-17 16:24] SuEric commented on #21
just fyi, solved it by adding this:

![Uploading CleanShot 2021-03-17 at 10.23.42@2x.png…]()

[2021-03-17 17:38] jasonplatts commented on #20
That's a great suggestion and something that should be added alongside issue #19.

Thanks for the feedback!

[2021-03-17 17:54] jasonplatts commented on #19
That could certainly be one approach @SuEric.

If I understand correctly, another possibility would be to separate these into two distinct features.
1) The ability to add additional custom keywords in the extension settings.
2) Dynamically detect features or names that are added between parenthesis after a keyword and add/remove these from filter options. For convenience, it would also likely be p

[2021-03-18 22:26] SuEric commented on #21
@jasonplatts , here is the image :)
<img width="847" alt="CleanShot 2021-03-18 at 16 25 47@2x" src="https://user-images.githubusercontent.com/3435477/111705599-9b342800-8806-11eb-81a8-153392dace17.png">

[2021-03-19 23:14] jasonplatts commented on #21
Thanks @SuEric. I'll get those in the next update.

[2021-04-05 19:42] mikebronner opened #22 "Performance Issues"
Hi, unfortunately I had to turn the TODO extension off, as it was causing Extension Service to crash. I don't have any actual replication steps, as it just happened when I opened my project. After disabling the extension, everything went back to normal.

Any suggestions on steps I can take to help identify the issue? Thanks!

[2021-04-05 20:59] jasonplatts commented on #22
Hi Mike. Sorry to hear you are having issues with the extension. If you don't mind me asking, are you experiencing the problem with every project you open or only one? Does it happen every time you open the project? What languages does your project use? Is it a large project?

[2021-04-05 21:01] mikebronner commented on #22
@jasonplatts Thanks for the quick reply. This seems to happen on my large PHP project with LOTS of composer and node_modules packages. I will add those two folders to be excluded and see if that helps. Let me know if there is anything else I can try, happy to help get down to the core of the issue. :)

[2021-04-05 21:08] mikebronner opened #23 "[Bug] Workspace Ignored File & Directory Paths not stored in project configuration."
Just wanted to report this little bug:

filling in `ignored paths` manually in project settings does not update the project configuration. However, updating `ignored names` under Workspace Ignored Files & Directory Names does update the configuration.

[2021-04-05 23:57] jasonplatts commented on #22
Thanks @mikebronner for the details. The extension ignores the node_modules and vendor directories by default, but it is certainly possible there is another directory and/or file in your project that is large enough to cause the extension to hang. If you are to exclude all of the directories in the project root, it might be possible to isolate the problem.

[2021-04-06 00:11] jasonplatts commented on #23
Thanks for reporting this bug. I think you may be running into the same problem reported in issue #8, which is a bug in Nova itself. Unfortunately, Panic has not yet released a fix as of Nova 5.1. There are some steps for working around the problem in the comments under issue #8.

[2021-04-06 00:11] #23 closed

[2021-04-06 00:12] jasonplatts commented on #8
This issue still hasn't been fixed as of Nova 5.1. It has been some time since I reported the issue, so I will reach out to Panic again see if they can take another look.

[2021-04-09 10:46] Amparose commented on #22
Might be connected: The periodic flashing of the TODO panel (I'm guessing a refresh) is annoying.

[2021-04-09 10:51] Amparose opened #24 "TODO is not ignoring folders"
I have added `dst/` to Ignored Names of prefs and it isn't working. Also tried `dst/**` in case it was because file is nested; doesn't work either. I have tried restarting Nova again as I noticed it didn't seem to load anything to initially and alerted a **No command found with the name "todo.refresh"**. That seems working now but could be a bug in there somewhere.

[2021-04-09 16:02] jasonplatts commented on #24
Hi @Amparose. This preference does not accept relative paths, only file and directory names. So, adding dst will ignore that directory and its contents.

As for the error, it does sound like something hadn't quite finished loading yet. If you are able reproduce the "no command found" error, please let me know and I'll take a look.

[2021-04-09 16:15] jasonplatts commented on #22
Hi @mikebronner. Are you still having problems with the extension hanging in your project?

Yes, @Amparose. The extension refreshes whenever a change is detected in the workspace. When a workspace isn't found polling is used. Ideally, only the changed file should be updated in the treeview. This is a performance update that should be made in a future version.

[2021-04-09 16:23] mikebronner commented on #22
@jasonplatts I have not had it crash things yet. *fingers crossed* :)

[2021-04-10 09:55] Amparose commented on #22
Is a “workspace” something different to opening a folder in Nova? Anyway, I’d like it if the polling could be turned off in prefs. There’s a refresh button and I’d prefer to manually do that that the visually flub of polling.

[2021-04-10 17:21] jasonplatts commented on #22
Opening a folder in Nova is considered a workspace. Opening a file or files is not considered a workspace and will trigger polling. In most cases the refreshes are a result of Nova detecting a change in your workspace.

I'll consider this an enhancement issue. Thanks for your suggestions.

[2021-04-10 17:56] mikebronner commented on #22
@jasonplatts I'm not sure exactly how Nova implements these things, but would it be possible to cache the results, and only update Nova after parsing is completed, so that the list does not appear to be so laggy? Just thinking out loud, not sure if this is a feasible idea.

[2021-04-11 17:31] jasonplatts commented on #22
Great suggestion @mikebronner. That could certainly help. In the few minutes I've had to do some testing, I have noticed some new issues processing larger projects. These did not seem to occur in previous testing with the same projects. I will need to do some research.

The extension uses the egrep command in a process to find files containing the keywords within a workspace. It then searches thro

[2021-04-12 09:42] R3dXOne opened #25 "TODOS not detecting any tag in projects (remote)"
TODOS doesn't detect any TAG in my Nova projects.
I didn't ignored any file or folders...

<img width="898" alt="Screenshot 2021-04-12 at 11 35 03" src="https://user-images.githubusercontent.com/70103491/114373816-45dc0400-9b83-11eb-8b85-4a5a6fc989e4.png">

<img width="816" alt="Screenshot 2021-04-12 at 11 37 09" src="https://user-images.githubusercontent.com/70103491/114374015-79b72980-9b83-11eb-

[2021-04-12 12:41] jasonplatts commented on #25
Hi @R3dXOne. Unfortunately, the extension does not support remote projects at the moment.

[2021-04-18 00:04] mikebronner commented on #22
Today I received the following error after waking my Mac up from sleep. After that it also prompted me to restart the Extension Service, so my extension console logs were wiped.

[code]

<img width="327" alt="Screen Shot 2021-04-17 at 5 02 12 PM" src="https://user-images.githubusercontent.com/1791050/115129876-de68ee80-9f9e-11eb-93e7-7ec170982e1c.png">

[2021-04-19 13:58] Amparose commented on #24
Ah yep, removing the trailing slash fixed it. Thanks.

[2021-04-19 13:58] #24 closed

[2021-04-19 14:03] jasonplatts commented on #22
Thanks for the update @mikebronner. I will take a look.

[2021-04-22 14:25] #25 closed

[2021-04-22 14:35] jasonplatts commented on #18
Without additional information, I will close this issue. Please feel free to open another issue if there are ongoing problems with the extension.

[2021-04-22 14:35] #18 closed

[2021-04-22 16:39] jasonplatts commented on #5
Another update. I mentioned this to Panic again and have been told it is now filed as an API request. Once added to the API, I will add it as an extension feature.

[2021-05-14 22:30] gitscosh commented on #22
Just came here looking to see if it was logged yet. I opened a rather large project today, and TODO crashed the extension service. Any ETA?

[2021-05-17 14:00] jasonplatts commented on #22
Hi @gitscosh. Sorry you are having issues with the extension crashing. Unfortunately I haven't had the chance to go back and optimize the code yet.

Thanks for letting me know you are continuing to have issues. Since the last Nova update, I am not experiencing any crashes, which makes it difficult to know the extent of the problem. I will absolutely be looking to make performance improvements on t

[2021-05-19 18:01] gitscosh commented on #22
Thanks, @jasonplatts! I really like this addon and hope to be able to continue using it. On the positive side, most of the repos I open aren't nearly as large, so this isn't an "always" type of thing.

[2021-05-19 21:30] pa-aaron commented on #22
I'm working on a relatively large project, and with the plugin enabled, when I save I see well over 100 `egrep` processes are spawned (130 just now) 😬

[2021-05-19 21:50] jasonplatts commented on #22
I appreciate that!

[2021-05-19 21:52] jasonplatts commented on #22
Thanks for letting me know @pa-aaron.

[2021-05-20 19:50] jasonplatts commented on #8
I have contacted Panic again for updates. Will update with any new information.

[2021-05-20 19:53] jasonplatts commented on #20
To update, this issue is waiting on functionality to be added to the Nova API that would allow a filter text box similar to the file browser sidebar.

[2021-06-29 12:37] #22 closed

[2021-06-29 12:38] jasonplatts commented on #22
This issue should be resolved with the release of version 3.0.

[2021-06-29 12:39] jasonplatts commented on #21
This has been addressed in the version 3.0 release.

[2021-06-29 12:39] #21 closed

[2021-06-29 12:43] jasonplatts commented on #16
This feature has been added to version 3.0. Unfortunately, the Nova extension API does not make it possible to open files or bring focus to an open editor in a remote environment. This means that double-clicking on the tag in the sidebar will not take the user to the location of the tag in the document. When this functionality is made available, support will be added to the extension.

[2021-06-29 12:43] #16 closed

[2021-06-29 12:45] jasonplatts commented on #8
This was resolved in the version 3.0 release by using different preference UI options.

[2021-06-29 12:45] #8 closed

[2021-07-27 10:04] DeeEmm opened #26 "TODO item does not link to correct line"
<img width="1706" alt="Screen Shot 2021-07-27 at 7 31 09 pm" src="https://user-images.githubusercontent.com/3038710/127135755-f510fe22-f18f-40e1-85be-f7033abd2b1c.png">

When clicking on the item in the sidebar the editor changes to the correct file, however the highlighted line is incorrect.

Please see above screenshot.

- Highlighted line (100) is incorrect
- Actual line that TODO refers to is

[2021-07-27 14:23] DeeEmm commented on #26
Hi Jason,

I was hoping it might be a simple Schoolboy error on my part.

Unfortunately, refreshing the list / reopening Nova does not make any difference. Nor does expanding or regrouping the list. I have also tried reinstalling the plugin.

One thing of note is that when I initially open Nova the TODO list only shows one file and will not expand by clicking on the expand arrow next to the file n

[2021-07-27 14:26] DeeEmm commented on #26
...as a comparison, here's what the list looks like after I hit the group button, as you can see it does not display the second file in the project until I hit the button

<img width="358" alt="Screen Shot 2021-07-27 at 11 56 00 pm" src="https://user-images.githubusercontent.com/3038710/127171590-ea8b9b64-d5fd-4ce8-bcf6-d8334216e729.png">

[2021-07-28 13:45] jasonplatts commented on #26
Thanks for the additional information DM.

A couple of thoughts...
1. If you go to the 'Extension' menu and select 'Show Extension Console', do you see any errors?
2. Are you working with a very large project? If so, does it help if you add irrelevant directories to the ignored list in the extension preferences?

If these suggestions don't help and you are able to provide me with a file that consi

[2021-07-28 14:02] DeeEmm commented on #26
Hi Jason.

I do (did) have a python error showing in the Extensions console...

[code]

So I've disabled all extensions apart from yours and restarted Nova. The error message has cleared but the sidebar behaviour described above along with the reported issue is still the same. I assume the error is form a different plugin (I will investigate this further)

If you want to try with the files I'm wor

[2021-07-28 14:04] DeeEmm commented on #26
(Confirmed: the error above is from a Python plugin)

[2021-07-28 14:20] jasonplatts commented on #26
That was very helpful! Thanks. I am thinking it might be related to your environment. When I tested the files in a new project, all positions appeared correct.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/48892071/127337936-2ca7070d-a9bc-4c67-be60-e1f1376d76e5.png">

If you decide to create a new project space, let me know if it fixes the problem!

[2021-07-28 15:15] DeeEmm commented on #26
Creating a new test project and copying the project contents across fixed the issue. Yay :)

I've now deleted the original project, dumped the original folder and copied everything back into a new project (of the same name) and everything is working fine. I had to copy some hidden folders back for git/pio but they have not brought back the problem. So I suspect that it was Nova project / workspace

[2021-07-28 15:57] jasonplatts commented on #26
That's great! Happy to help.

Yes, the reason for the colon is simply to try to reduce false positives. While 'TODO' may not return many false positives, I was concerned that 'NOTE' and others might. I also plan to add a feature that would allow users to add their own tags, which I thought might cause more issues. Great suggestion though! I can see how it would be useful. I'll work on adding some

[2021-07-28 15:59] jasonplatts opened #27 "Add configuration option to change tag delimiter."
Just a heads-up. I'm showing more TODO's than you are. I think the reason for this is that when you parse you actually check for  'TODO:' not just 'TODO' which is the format that I have traditionally used throughout my code. So I did a search and destroy on the local code in the project to add the colons, but I'd rather not have to do that to all my projects.

Is there any reason that you require

[2021-07-28 16:00] DeeEmm commented on #26
Haha, yes. just one escape char away from kernel panic lol.

[2021-08-02 13:51] r0the opened #28 "Parse TODOs in Markdown files."
I write a lot of text in Markdown files. It would be really helpful if
your extension wouldn't exclude .md files by default or if there
was a way to allow parsing markdown files in the configuration.

Thanks.

[2021-08-03 01:14] jasonplatts commented on #28
Thanks for letting me know @r0the. I’ll try to get this in the next release!

[2021-08-03 15:35] r0the commented on #28
Thanks!

[2021-08-03 15:43] jasonplatts commented on #28
No problem. This has just been added in the 3.0.2 release.

[2021-08-03 19:18] mgravemeyer opened #29 "Shortcut for sidebar"
Hi!

I use custom key binding shortcuts to toggle menu entries in the left sidebar. Maybe it is possible to add a custom shortcut into the 'Key Bindings' section for the TODO entry in the left sidebar into the settings menu of nova.

Thanks.

<img width="700" alt="Screen Shot 2021-08-03 at 21 17 40" src="https://user-images.githubusercontent.com/40543879/128073300-715b1f4e-f136-43bb-8b25-5340c88c4

[2021-08-04 13:32] jasonplatts commented on #29
What a great suggestion @mgravemeyer! I'm quite certain the extension API doesn't make this possible right now, but I'll find out for sure. If it isn't, I'll ask Panic to add it as a feature request.

[2021-08-04 14:09] #28 closed

[2021-08-04 14:10] jasonplatts commented on #28
Added as of version 3.0.2.

[2021-08-09 06:18] Ghost108 opened #30 "Extension doesn't work ?"
Good morning !

I installed this exstension and it doesn't work for me - maybe it is my mistake:

![Bildschirmfoto 2021-08-09 um 08 07 10](https://user-images.githubusercontent.com/17011498/128665938-976c6ee0-d2cd-450a-a583-bd048260c74f.png)

There will no be any todos listed in the sidebar.

I get also a error message, If I clicked (right click) on the sidebar > open:

![Bildschirmfoto 2021-08-09

[2021-08-09 11:14] jasonplatts commented on #30
Hi @Ghost108..

Try adding a colon after the tag name, such as “TODO:”. This should fix the problem.

Jason

[2021-08-09 11:22] Ghost108 commented on #30
![Bildschirmfoto 2021-08-09 um 13 21 50](https://user-images.githubusercontent.com/17011498/128698806-dace1096-bf71-4daa-ad0b-9da8c0d14433.png)

No :(

[2021-08-09 13:05] jasonplatts commented on #30
Sorry that you are still having problems with the extension @Ghost108.

A couple of things that come to mind…
1. If this is a new document, have you saved the file? Tags won't be detected until a file has been saved.
2. Would you mind clicking on "Show Extension Console" from the "Extensions" menu and letting me know if you see any errors?

Jason

[2021-08-09 13:12] Ghost108 commented on #30
This file is not new, Yes I have saved this file.

This error comes only, after my steps above (right click sidebar > open)
![Bildschirmfoto 2021-08-09 um 15 11 05](https://user-images.githubusercontent.com/17011498/128711575-04c35ca1-ff86-4513-a531-e4d057feeaec.png)

no error else

[2021-08-09 15:01] jasonplatts commented on #30
Hmm…sorry that didn't work for you.

The extension error you see in the console is not connected to the tags not showing in the sidebar, but is an unrelated bug that I will fix in the next release.

Unfortunately, I'm not able to reproduce the problem you are having. I now suspect it is something to do with your specific workspace. Perhaps, this file is within an ignored directory? If you start a

[2021-08-09 16:56] Ghost108 commented on #30
There are no ignored directory configured.
On a new project it works fine.

The path of the file is a folder which I access via SMB.
The extension settings are default : I change nothing after my installation today

[2021-08-09 17:11] jasonplatts commented on #30
Thanks for the additional information. In a workspace, the extension relies on the OS egrep command. That command is likely producing no results when using a network location, therefore, no tags are being found.

Unfortunately, I don't have a quick fix for you. As a workaround, if it is possible to move the project to a local directory, the extension should work. I will give some thought to how th

[2021-08-13 02:42] DeeEmm commented on #26
Hi Jason,

I have experienced this issue again so I think that the cause is not as previously suspected. I do however have another idea...

I actually develop on two machines. The iMac in my office and my Macbook at home. I sync all of my data using iCloud. The documents folders on both machines point to my iCloud account data. So when I update a file on my iMac, the same file update is automagica

[2021-08-13 02:48] DeeEmm commented on #26
As a quick test I added a TODO comment to force a refresh of the list.

(I know that in an Nova extension I wrote that the sidebar is updated pretty much instantly.)

Whilst the new TODO appeared in the list on the document save, the position was still incorrect.

[2021-08-13 02:58] DeeEmm commented on #26
I tried closing and reopening Nova and the line numbers were then correct.

Previously...

- Nova was open on both machines
- I would work on both machines alternately
- Line number issue present

What I just tried...

- Closing Nova on Macbook (issue still present on iMac)
- Adding TODO on iMac to force TODO list refresh (issue still present on iMac)
- Restarting Nova on iMac (issue not present)

[2021-08-14 05:55] DeeEmm commented on #26
Further testing & observations...

Just back working on my iMac. The Macbook still has the Nova project open.

Line numbers on the iMac are incorrect.
Simply restarting Nova on the iMac fixes this.

Definitely suspect some kind of cache issue

/DM

[2021-08-14 18:49] jasonplatts commented on #26
Hi DM,

Sorry you are still having issues with the line numbers.

To answer your question, when the extension first loads in a local workspace, it runs the OS "egrep" command in a process to determine what files should be parsed. The parsing of these identified files then occurs using the file related Nova API methods. Once this initial loading is complete, the extension monitors files that are op

[2021-08-15 00:01] DeeEmm commented on #26
Hi Jason,

Thanks for getting back to me.

If it is using the Nova API hooks I wonder if the cache issue is related to panic sync and not the physical documents, in which case using a third party provider to sync the documents may still not resolve the issue as the Nova cache would still not be updated.

Looking at what I have found with the tests I have carried out I think that the Cache may be r

[2021-08-15 00:44] DeeEmm commented on #26
Ok.

So Panic Sync made no difference.

On restarting Nova on my iMac I have noticed a delay in the Todo list updating. This may be unrelated but I'll mention it just in case...

<img width="176" alt="Screen Shot 2021-08-15 at 9 39 04 am" src="https://user-images.githubusercontent.com/3038710/129463105-06144692-4f12-4e48-93cf-6ac56579ecd1.png">

The list is blank and I receive the message above

T

[2021-08-17 19:13] jasonplatts commented on #26
Hi DM,

I appreciate you taking the time to test and try to replicate the issue.

It isn't currently possible to detect when the sidebar tab is clicked. Others have asked for this functionality to be added to the Nova API, so hopefully it will be added at some point. However, based on past experiences with the extension, I would be hesitant to refresh on this type of event because I think it could

[2021-08-18 00:19] DeeEmm commented on #26
That's all good. I can definitely live with the manual refresh. It's no big deal.

I'll close this out.

Thanks once again for your help.

/DM

[2021-08-18 00:19] #26 closed

[2021-10-11 05:53] ernes-to opened #31 "Add configuration option to run the extension only in the directories specified"
Thanks for this extension!

One of the projects I work in has 100+ different directories, but my team only works in a handful of them. It would be really useful if the extension's settings exposed an option to "run only in the specified directories". Currently, there is an option to say which directories should be ignored, but the other way around would be great for large projects. I would imagine

[2021-10-13 02:08] jasonplatts commented on #31
Hi Ernesto. That’s a great idea and shouldn’t be too difficult to implement. I’ll try to get it in an upcoming update.

[2021-11-22 23:02] oskin-dev opened #33 "Can't ignore two or more files"
Right click on file –> Ignore file in Current Workspace. File disappears. Then click on another file, it disappears. But the first returns at the file list.

[2021-11-22 23:03] oskin-dev commented on #33
![Screenshot 2021-11-23 at 02 02 51](https://user-images.githubusercontent.com/46093782/142947916-5040a53a-07b9-4df9-9ca5-4700e4186bb1.png)

[2021-12-07 15:56] jasonplatts commented on #33
Hi @oskin-dev. Sorry for not getting back to you sooner.

I'm not quite sure I follow. Are you able to provide a screencast or a series of screenshots demonstrating the issue?

Thanks,
Jason

[2022-01-05 15:55] #33 closed

[2022-01-05 15:58] jasonplatts commented on #33
I am closing this for now, but please let me know if the issue remains and provide additional information. Thanks.

[2022-01-05 16:00] #30 closed

[2022-01-05 16:04] jasonplatts commented on #30
I am closing this issue because I am not sure of a way to provide adequate speed without using the OS egrep command. As I mentioned, a workaround is to move the project to a local directory. I am sorry I don't have a better solution for you. Ideas and pull requests are always welcome.

[2022-03-04 20:34] evaneykelen commented on #27
I'd be good to make the requirement for a trailing colon configurable. I work in codebases that use mixed styles (`TODO` and `TODO:`).

[2022-03-17 16:41] pavelklymenko opened #35 "Plugin Won't Work if There's no File Extension Exists"
If a file is being edited in Nova and has no extension associated with it (like .txt, .go, .js, etc.) the plugin won't detect tags.

[2022-03-24 09:10] agnesnutter opened #36 "Why restrict to certain tag syntax?"
Obviously, custom tags are a desirable feature — I see that "Add additional custom tags" is planned — but I'm a little confused as to why this tool doesn't just have tags be handled exactly the same way as ignored names/extensions? That seems to me like it would be even easier to implement.

I usually use tags at the end of a line, rather than preceding an explanation, so I'd like to be able to us

[2022-03-29 22:37] jasonplatts commented on #35
Hi @pavelklymenko. Yes I am aware of this issue. The extension uses the egrep command, which by default ignores files without extensions. I will need to take another look at this and see if this is a way to override this behavior.

Thanks!

[2022-06-09 08:32] mjuliani opened #37 "Error on click button 'refresh' or 'group'"
I've reinstalled and it's still like this.
MacOS 12.4
Nova 9.3 Build 396482
TODO 3.0.3
<img width="991" alt="Captura de Tela 2022-06-09 às 05 26 28" src="https://user-images.githubusercontent.com/818284/172801686-e3269e62-7a0d-4e73-b21f-49e1793b72f8.png">
<img width="996" alt="Captura de Tela 2022-06-09 às 05 27 31" src="https://user-images.githubusercontent.com/818284/172801699-721abdf3-3059-48

[2022-06-10 19:27] mjuliani commented on #37
The error happens because the /Scripts/Configuration.js file is capitalized.
Changing manually resolves.
I use case sensitive APFS.

[2022-09-07 02:55] battis commented on #36
+1 to this -- I had been baffled about why the plugin wasn't working for my usual:

[code]

...I had no idea that this was expecting a colon (never seen that, at least consciously, in any code before *until* I found this issue). A quick fix would probably be to include a few sample "tags" in the documentation so dummies like me know what we're aiming for:

[code]

[2022-11-25 16:45] adammontague opened #39 "TODOs not showing in sidebar"
I really appreciate your time developing this extension.

1. Sidebar states "No tags found. Monitoring..." continuously until you save an open file with TODO comments.
2. Clicking the refresh icon clears the sidebar list of TODOs.
3. Sidebar list of TODOs is cleared when exiting a project and not retained when reopened.

Running Nova: 10.3
TODO Extension: 3.0.3